/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    :root {
        --primary-color: #172F3B;
        --primary-action: #00E53D;
        --secondary-action: #00FF44;
        --white: #FFFFFF;
        --grey-background: #E9ECEE;

        /* TEXT */
        --primary-text-color: #FFFFFF;
        --secondary-text-color: #90A1AA;

        /* FONT-SIZE */
        --first-line: 2em;
        --second-line: 1.6em;
        --description: 1.8em;

    }

    /* Typografie */


    /* Formulier elementen */

}