/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

/* BARIOL REGULAR */
@font-face {
    font-family: 'Bariol';
    src: url('./fonts/Bariol_Regular.otf');
    font-weight: 400;
}

/* BARIOL REGULAR ITALIC */
@font-face {
    font-family: 'Bariol';
    src: url('./fonts/Bariol_Regular_Italic.otf');
    font-style: italic;
}

/* BARIOL BOLD */
@font-face {
    font-family: 'Bariol';
    src: url('./fonts/Bariol_Bold.otf');
    font-weight: 700;
}

/* BARIOL LIGHT */
@font-face {
    font-family: 'Bariol';
    src: url('./fonts/Bariol_Light.otf');
    font-weight: 300;
}

/* BARIOL THIN */
@font-face {
    font-family: 'Bariol';
    src: url('./fonts/Bariol_Thin.otf');
    font-weight: 200;
}

@layer styleguide {

    /* Kleuren */
    :root {
        --primary-color: #172F3B;
        --primary-action: #00E53D;
        --secondary-action: #00FF44;
        --white: #FFFFFF;
        --grey-background: #E9ECEE;

        /* TEXT */
        --primary-text-color: #FFFFFF;
        --secondary-text-color: #90A1AA;

        /* TYPOGRAPHY */
        --font-family: 'Bariol', sans-serif;

        /* FONT-SIZE */
        --first-line: 2em;
        --second-line: 1.6em;
        --description: 1.8em;

        --letter-spacing: 1px;
        --line-height-list: 1.6;
        --line-height-text: 1.3;

        /* BORDER */
        --border-none: none;
        --border-radius-button: 50px;
        --border-radius-photo: 7px;

        /* BUTTON SIZE MOET NOG BESPROKEN WORDEN*/
        --padding-button: ;
        --button-size: ;
    }
}
